name: Build v0.1.1
on: 
  push:
    branches:
    - 1.19.2+fabric
  workflow_dispatch:
  
env:
  version: "0.1.1"
  ver: "V0.1.1 MCV-1.19.2 Fabric"
  tag: "0.1.1-1.19.2+build.1"
  java_ver: "17"

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '[skip]') }}

    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.java_ver }}
          distribution: 'temurin'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: build/libs/

  modrinth:
    if: ${{ contains(github.event.head_commit.message, '[m]') }}

    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
    - name: checkout repository
      uses: actions/checkout@v4

    - name: validate gradle wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: setup jdk
      uses: actions/setup-java@v4
      with:
        java-version: ${{ env.java_ver }}
        distribution: 'temurin'

    - name: make gradle wrapper executable
      run: chmod +x ./gradlew

    - name: Publish to Modrinth
      run: ./gradlew modrinth -Ptoken="${{ secrets.TOKEN }}"

  release:
    if: ${{ !contains(github.event.head_commit.message, '[skip]') }}

    permissions:
      contents: write

    needs: [ build ]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download Files
        uses: actions/download-artifact@v4

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Unknown Mod ${{ env.ver }}
          tag_name: ${{ env.tag }}
          body_path: ${{ github.workspace }}/changelog.md
          draft: true
          generate_release_notes: true
          files: |
            jars/*.jar
