# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: Build v0.1.1
on:
  push:
    branches:
      - main

  workflow_dispatch:
env:
  version: "0.1.1"
  ver: "V0.1.1 MCV-1.19 Fabric"
  tag: "0.1.1+build.1"
jobs:
  build:

    if: ${{ !contains(github.event.head_commit.message, '[skip]') }}

    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: Publish to Modrinth
        run: ./gradlew modrinth -Ptoken="${{ secrets.TOKEN }}"

      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
            
  release:
    permissions:
      contents: write

    if: ${{ !contains(github.event.head_commit.message, '[skip]') }}

    needs: [ build ]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download Files
        uses: actions/download-artifact@v4

      - name: Create Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ env.tag }}
          release_name: Unknown Mod ${{ env.ver }}
          draft: true
          prerelease: true