# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: Build v0.1.1
on:
  push:
    branches:
      - main

  workflow_dispatch:
env:
  version: "0.1.1"
  ver: "V${{ env.version }} MCV-1.19 Fabric"
  tag: "${{ env.version }}+build.1"
jobs:
  build:

    if: ${{ !contains(github.event.head_commit.message, '[skip]') }}

    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: make gradle wrapper executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew build

      - name: Publish to Modrinth
        run: ./gradlew modrinth -Ptoken="${{ secrets.TOKEN }}"

      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/

      - name: Create Release
        uses: "marvinpinto/action-automatic-release@v1.2.0"
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          title: "Unknown Mod ${{ env.ver }}"
          automatic_release_tag: "${{ env.tag }}"
          prerelease: true
          draft: true
          files: |
            unknown-mod-${{ env.version }}.jar
            unknown-mod-${{ env.version }}-sources.jar